:root {
    --lime-green: hsl(163, 72%, 41%);
    --bright-red: hsl(356, 69%, 56%) ;   
    --facebook-color: hsl(208, 92%, 53%);
    --twitter: hsl(203, 89%, 53%);
    --instagram: linear-gradient (to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    --youtube: hsl(348, 97%, 39%);
    --Toggle-gradient: linear-gradient (to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    --Toggle: hsl(230, 22%, 74%);
    --Very-Dark-Blue-bg : hsl(230, 17%, 14%);
    --Very-Dark-Blue-Top-bg-Pattern: hsl(232, 19%, 15%);
    --Dark-Desaturated-Blue: hsl(228, 28%, 20%);
    --Desaturated-blue: hsl(228, 34%, 66%);
    --White-text: hsl(0, 0%, 100%);
    --White-bg: hsl(0, 0%, 100%);
    --Very-Pale-Blue: hsl(225, 100%, 98%);
    --Light-Grayish-Blue: hsl(227, 47%, 96%);
    --Dark-Grayish-Blue: hsl(228, 12%, 44%);
    --Very-Dark-Blue: hsl(230, 17%, 14%);
    
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 25px;
    background-color: white;
    font-size: 25px;
}
  
.dark-mode {
    background-color: var(--Very-Dark-Blue-bg);
}
  
.dark-mode h1,
.dark-mode h2 {
   color: var(--Very-Pale-Blue);
}

.dark-mode p {
    color: var(--Desaturated-blue);
}

.dark-mode nav,
.dark-mode .account-div,
.dark-mode .overview-contain {
    background: var(--Dark-Desaturated-Blue);
}

nav {
    background: var(--Very-Pale-Blue);
    position: relative;
    /* border-radius: 20px; */
}

section {
    padding: 30px 20px;
}

h1,
h2 {
    font-weight: bold;
}

.container {
    max-width: 950px;
    margin: auto;
}

.header-content {
    /* padding: 40px 20px 70px 20px; */
    position: relative;
}

button {
    position: relative;
}

.switch-contain {
    position: absolute;
    top: -10px;
}

.switch {
    width: 50px;
    height: 25px;
    background-color: white;
    border-radius: 20px;
    padding: 1px;
    transition: all 300ms ease-in-out;
}

.switch.active {
    /* background-color: transparent; */
    background-image: linear-gradient (90deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}

.switch.active .switch-btn {
    margin-left: 23.5px;
    transition: all 300ms ease-in-out;
}

.switch-btn {
    width: 23.5px;
    height: 23.5px;
    background-color: black;
    border-radius: 50%;
}

.nav-relative {
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100px;
    background: var(--Very-Pale-Blue);
    border-radius: 20px;
}

.grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.flex {
    display: flex;
    align-items: center;
}

.card {
    border-radius: 4px;
}

.account-div {
    text-align: center;
    padding: 20px 50px;
    background: var(--Light-Grayish-Blue);
}

.account-div .flex {
    justify-content: center;
}

.facebook {
    border-top: 4px solid var(--facebook-color);
}

.twitter {
    border-top: 4px solid var(--twitter);
}

.instagram {
    border-top: 4px solid transparent;
    border-image: var(--instagram);
    border-image-slice: 1;
}

.youtube {
    border-top: 4px solid var(--youtube);
}

.up-text {
    color: var(--lime-green);
    font-size: 10px;
}

.down-text {
    color: var(--bright-red);
    font-size: 10px;
}

.overview .flex {
    justify-content: space-between;
}

.overview-contain {
    padding: 20px;
    background: var(--Light-Grayish-Blue);
}

@media only screen and (min-width: 500px) {

    nav {
        display: flex;
        justify-content: space-between;
    }

    nav hr {
        display: none;
    }

    section {
        padding: 30px 50px;
    }

}

@media only screen and (min-width: 1025px) {
    section {
        padding: 30px 50px;
    }
}