:root {
    --lime-green: hsl(163, 72%, 41%);
    --bright-red: hsl(356, 69%, 56%) ;   
    --facebook-color: hsl(208, 92%, 53%);
    --twitter: hsl(203, 89%, 53%);
    --instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    --youtube: hsl(348, 97%, 39%);
    --Toggle-gradient: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    --Toggle: hsl(230, 22%, 74%);
    --Very-Dark-Blue-bg : hsl(230, 17%, 14%);
    --Very-Dark-Blue-Top-bg-Pattern: hsl(232, 19%, 15%);
    --Dark-Desaturated-Blue: hsl(228, 28%, 20%);
    --Desaturated-blue: hsl(228, 34%, 66%);
    --White-text: hsl(0, 0%, 100%);
    --White-bg: hsl(0, 0%, 100%);
    --Very-Pale-Blue: hsl(225, 100%, 98%);
    --Light-Grayish-Blue: hsl(227, 47%, 96%);
    --Dark-Grayish-Blue: hsl(228, 12%, 44%);
    --Very-Dark-Blue: hsl(230, 17%, 14%);
    
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Inter', sans-serif;
}
  
.dark-mode {
    background-color: var(--Very-Dark-Blue-bg);
}
  
.dark-mode h1,
.dark-mode h2 {
   color: var(--Very-Pale-Blue);
}

.dark-mode p {
    color: var(--Desaturated-blue);
}

.dark-mode nav,
.dark-mode .nav-relative,
.dark-mode .account-div,
.dark-mode .overview-contain {
    background: var(--Dark-Desaturated-Blue);
}

nav {
    padding: 30px 0px;
    background: var(--Very-Pale-Blue);
    position: relative;
}

section {
    padding: 30px 20px;
}

h1,
h2 {
    font-weight: 700;
}

.social-media-acc h1 {
    transform: scale(1.5);
    margin-bottom: 10px;
}

p {
    color: var(--Dark-Grayish-Blue);
    font-weight: 400;
}

.container {
    max-width: 950px;
    margin: auto;
}

.header-content {
    position: relative;
}

button {
    position: relative;
    width: 50px;
    border: none;
    outline: none;
    cursor: pointer;
}

.switch-contain {
    position: absolute;
    top: -10px;
}

.switch {
    width: 40px;
    height: 20px;
    background-color: var(--Dark-Grayish-Blue);
    border-radius: 20px;
    padding: 1px;
    transition: all 300ms ease-in-out;
}

.switch.active {
    /* background-color: transparent; */
    background-image: linear-gradient(90deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}

.switch.active .switch-btn {
    margin-left: 18.5px;
    transition: all 300ms ease-in-out;
}

.switch-btn {
    width: 18.5px;
    height: 18.5px;
    background-color: var(--White-text);
    border-radius: 50%;
}

.nav-relative {
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100px;
    background: var(--Very-Pale-Blue);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.flex {
    display: flex;
    align-items: center;
}

.mb-12 {
    margin-bottom: 12px;
}

.mr-6 {
    margin-right: 6px;
}

.mr-3 {
    margin-right: 3px;
}

.card {
    border-radius: 4px;
}

.account-div {
    text-align: center;
    padding: 20px 50px;
    background: var(--Light-Grayish-Blue);
}

.account-div .flex {
    justify-content: center;
}

.facebook {
    border-top: 4px solid var(--facebook-color);
}

.twitter {
    border-top: 4px solid var(--twitter);
}

.instagram {
    border-top: 4px solid transparent;
    border-image: var(--instagram);
    border-image-slice: 1;
}

.youtube {
    border-top: 4px solid var(--youtube);
}

.user-name {
    font-size: 15px;
}

.up-text {
    color: var(--lime-green) !important;
    font-size: 10px;
}

.down-text {
    color: var(--bright-red) !important;
    font-size: 10px;
}

.overview .flex {
    justify-content: space-between;
}

.overview-contain {
    padding: 20px;
    background: var(--Light-Grayish-Blue);
}

@media only screen and (min-width: 500px) {

    .header-content {
        display: flex;
        justify-content: space-between;
    }

    nav hr {
        display: none;
    }

    section {
        padding: 30px 50px;
    }
}

@media only screen and (min-width: 1025px) {
    section {
        padding: 30px 50px;
    }
}